body{
    font-family:'Arial','Montserrat-Black', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat-Black';
}
p{
    font-size: 1rem;
    line-height: 1.5rem;
}

.colured-section{
    background-color: #4E008E;
    color: white;
    padding: 2% 5%;   
}
.white-section{
    color: #4E008E;
    background-color: white;
    padding: 2% 5%;
}
.third-section-container{
    color: #4E008E;
    background-color: rgb(231,219,239);
    padding: 2% 5%;
}

.clear-div{
    clear: both;
}



/* Navbar codes starts here */
.navbar{
    padding: 1% 5%;
}
.navbar .nav-logo{
    width: 300px;
    margin-right: 10px;
    margin-left: -7px;
}
.navbar a{
    color: #4E008E;  
    margin-right: 20px;
    font-size: 1.2rem;   
}
.navbar a:hover{
    color: rgb(139, 1, 251);
    cursor: pointer; 
    text-decoration: none;   
}
/* Navbar codes ends here */


#first-section{
    /* padding: 0% 5%; */
}
/* first section starts here */
.cover-pic{
    width: 100%;
    height: 100%;
    /* padding: 0% 5%; */
}

.title-paragraph{
   text-align: justify;     
}

.title-btn{
    margin:1% 3% 3% 0;
    color:  #4E008E;
    background-color: white;
    border-color: white;
    font-weight: bolder;
    padding: 0% 2%;    
}
.btn-outline-success:hover{
    border-color:#fff
}
/* first section ends here */


/* second section starts here */
#second-section h2{
    text-align: center;
    
}
#second-section .row{
    padding: 0% 7%;
}
.feature-title{
    font-size: 1.5rem;
    margin-top: 20px;
    color: white;    
}

.feature-box{
    text-align: center;
    padding: 1%;    
}

.feature-box p{
    color: rgb(139, 1, 251);   
}

.feature-icon{
    border: 7px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
}


.feature-box .card .face{   
    height: 200px;
    transition: 0.5s;
}

.feature-box .card .face1{
    position: relative;
    background: #4E008E;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.feature-box .card:hover .face1{
    transform: translateY(0);
    background: rgb(139, 1, 251);
}

.feature-box .card .face1 .content{
    text-align: center;
    opacity: 0.5;
    transition: 0.5s;
}

.feature-box .card:hover .face1 .content{
   opacity: 1;
}

.feature-box .card .face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0,20,15 rgba(0,0,0,0.8);
    transform: translateY(-100px);
    border: 2px solid transparent;

}

.feature-box .card:hover .face2{    
   transform: translateY(0);
   border-color: rgb(139, 1, 251);
}
/* second section ends here */


/* third section starts here */
#third-section{
    margin-top: 5px;
    text-align: center;
    /* padding: 0% 5%; */
  
}
#third-section .timeline{
    position: relative;
    margin-top: 15px;  
    
}

#third-section .timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

#third-section .timeline ul{
    margin: 0;
    padding: 0;

}
#third-section .timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 10px 20px;
    box-sizing: border-box;
}
#third-section .timeline ul li:nth-child(odd){
   float: left;
   text-align: right;
   clear: both;
}

#third-section .timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
 }
 #third-section .content{
     padding-bottom: 15px;
 }

 #third-section .timeline ul li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: #4E008E;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
 }


 #third-section .timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background:#4E008E;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
 }

 #third-section .timeline ul li h3{
     font-weight: 600;
     background:#4E008E; 
     color: #fff;
     border-radius: 18px;
     display: inline;
     padding: 1%;    
 }

 #third-section .timeline ul li p{
    margin: 10px 0 0;    
}
.timeline a{
    color: #4E008E;
    font-weight: bolder;
    text-decoration: underline;
  }

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
    color: #4E008E;
    font-weight: bolder;
    text-decoration: underline;
  }
  
  .link-button:hover,
  .link-button:focus {
  text-decoration: underline;
  color: #0056B3;
  }

/* third section ends here */

/* fourth section starts here */
#fourth-section{
    /* padding: 0% 5%; */
    text-align: center;
}
/* fourth section ends here */

/* footer section starts here */
#footer-section .content{
    text-align: center;
    margin: 1% 0%;
    font-size: 1rem;
}

#footer-section .content a{
    display: block;
    color: black;
}
#footer-section .content a:hover{
    font-weight: bolder;
    text-decoration: underline;
}
 #footer-section .content  .footer-logo1{
    margin-top: 20px;
    width: 250px;
     
} 

#footer-section .content .footer-logos .footer-logo2{
    margin-top: 20px;
    width: 100px;
    margin-right: 20px;   
}
#footer-section .content .footer-logos .footer-logo3{
    margin-top: 20px;
    width: 100px;   
}

/* footer section ends here */

@media (max-width: 900px){
     
    #third-section .timeline:before{
        content: none;    
    }

    #third-section .timeline ul li{    
        width: 100%;
        padding: 15px 10px;    
    }
    #third-section .timeline ul li:nth-child(odd){
        float: none;
        text-align: center;    
    }
    #third-section .timeline ul li:nth-child(even){
        float: none;
        text-align: center;        
    }
    #third-section .timeline ul li:nth-child(odd):before{
        content: none;
    }

    #third-section .timeline ul li:nth-child(even):before{
        content: none;
    }        
}

