body{
    font-family: 'Montserrat-Black', sans-serif;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat-Black';
}
.container-fluid{
    padding:2% 15%;
}

.colured-section{
    background: #4E008E;
    color: white;
}




/* first section starts here*/
#first-section{
    text-align: left;
    padding-bottom: 30px;
}
.btn-style{
    margin:20px 20px 10px 0;
}
.website-logo{
    width: 300px;
    /* border-radius: 50%; */
    margin-right: 10px;
    margin-left: -7px;
}
.navbar{
    padding: 0 0 2rem 0;
}
.navbar-brand{
    font-family: ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: 'Montserrat-white';
    font-size: 1.2rem;
}


/* designing title div*/
.title-heading{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3 rem;
    line-height: 1.5;
}
.title-paragraph{
    padding: 3% 0%;
    font-family: 'Montserrat-Black', sans-serif;
    
}

.title-image{
    width:70%;
    transform: rotate(15deg);
    position: absolute;
    right: 15%;
    margin-top: 50px;
    
}

.title-btn{
    margin:5% 5% 5% 0;
    
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.title-icon{
  margin-right: 15px;
}
/* first section ends here*/


/* second section starts */
#second-section{
    position: relative;
    z-index: 1;
    color: black;
   margin-top: -50px;

}
#second-section .card{
   
    background-color: white;
    padding: 50px 0px;
}
#second-section .card .card-title{
    font-size: 2 rem;
    font-weight: bold;
}
#second-section .card .card-text{
    font-size: 1.5 rem;
}


/* third section starts here */
#third-section{
    margin-top: -50px;
    padding: 7% 0% 0% 0%;
}
.feature-title{
    font-size: 1.5rem;
    margin-top: 20px;
}

.feature-box{
    text-align: center;
    padding: 3%;
    
}

.feature-box p{
    color: gray;
    font-size: 1.2rem;
}

.feature-icon{
    border: 5px solid white;
    border-radius: 50%;
    padding: 7px;
    margin-bottom: 15px;
}

.feature-box .card .face{
   
    height: 200px;
    transition: 0.5s;
}

.feature-box .card .face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.feature-box .card:hover .face1{
    transform: translateY(0);
    background: tomato;
}

.feature-box .card .face1 .content{
    text-align: center;
    opacity: 0.5;
    transition: 0.5s;
}

.feature-box .card:hover .face1 .content{
   opacity: 1;
}

.feature-box .card .face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0,20,15 rgba(0,0,0,0.8);
    transform: translateY(-100px);
    border: 2px solid transparent;

}

.feature-box .card:hover .face2{
    
   transform: translateY(0);
   border-color: tomato;
}


/* fourth section starts here */
#fourth-section{
    margin-top: 50px;
}
.timeline{
    position: relative;
    margin-top: 50px;
}

.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul{
    margin: 0;
    padding: 0;

}
.timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
   float: left;
   text-align: right;
   clear: both;
}

.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
 }
 #fourth-section .content{
     padding-bottom: 20px;
 }

 .timeline ul li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: tomato;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
 }


 .timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background:tomato;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
 }

 .timeline ul li h3{
     font-weight: 600;
     background:tomato; 
     color: #fff;
     border-radius: 18px;
     display: inline;
     padding: 1%;

 }

 .timeline ul li p{
    margin: 10px 0 0;
    
}

/* fourth section ends here */


/* contact section starts here */
#contact-section{
    margin-top: 15px;
    color: black;
    padding: 1%;
    text-align: center;
    
}

#contact-section .container-fluid .row .card{
    margin-left: auto;
    margin-right: auto;
 
}

#contact-section .my-title{
    /* margin-top: -50px; */
    font-weight: bold;
}

.clear-div{
    clear: both;
    margin-bottom: 5px;
}

.copyright{
    margin-top: 15px;
    color: white;
  
}


/* contact section ends here */


@media (max-width: 950px){
    .title-image{       
        visibility: hidden;
    }
   
  
}